<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>



{% extends '/Users/ola/Downloads/Nowy folder/KBN1/polls/templates/polls/base_site.html' %}


{% block content %}





        <div class="page-header">
<p>Dziękujemy za wypełnienie formularza. W najbliższym czasie skontaktujemy się z tobą. </p>


            <a href="/">   <span class="glyphicon glyphicon-home"></span> Wróć do strony głównej </a>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
    </div>
    </div>
    </div>



{% endblock %}


</body>
</html>